script(src='https://cdn.jsdelivr.net/npm/vega@3.0.10')
script(src='https://cdn.jsdelivr.net/npm/vega-lite@2.1.3')
script(src='https://cdn.jsdelivr.net/npm/vega-embed@3.0.0')
#vis
script(type='text/javascript').
  vegaEmbed('#vis', !{vegaliteSpec}, {'renderer': 'svg'});
