mixin tableofcontents
  h1.toc-ignore Table of Contents
  #table-of-contents

mixin ToC
  h1.toc-ignore Table of Contents
  #table-of-contents

style.
  #table-of-contents {

  }

  .table-of-contents { }

  .table-of-contents-list {
    list-style-type: none;
  }

  .table-of-contents-item a {
    color: black;
    text-decoration: none;
  }

  .table-of-contents-item {
    width: 100%;
    height: 1em;
  }

  .table-of-contents-item-name {
    width: 10%;
    float: left;
  }

  .table-of-contents-item-dots {
    width: 80%;
    height: 0.75em;
    border-bottom: 1pt dotted black;
    overflow: hidden;
    float: left;
  }

  .table-of-contents-item-page {
    width: 8%;
    float: right;
  }