h1 Hello Katex <br/><br/> #[:katex \sum{ \sqrt{x^2 + \alpha}} ]


style.
  body {
    font-family: Georgia;
    font-size: 14px;
  }
  h1 {
    font-size: 60px;
    margin-top: 4cm;
    text-align: center;
  }
