div(style="text-align:center; font-size:58px; margin-top: 3cm")
  p Say my name with a mixin ! <br/> #{name}
  p Again, with a HTML filter ! <br/> INSERT_NAME_HERE
  
style.
  body {
    font-family: "Arial";
    font-size: 14px;
  }
  p {
     text-align:center;
     font-size:50px;
     font-weight: bold;
     margin-top: 3cm;
  }
