h1 bla

template#page-header
  style(type='text/css').
    .page-header {
      font-size: 16px;
      font-family: Verdana;
      font-weight: bold;
      width: 1000px;
      border-top: 1px solid black;
      margin-left: 10%;
      margin-right: 10%;
      padding-top: 1mm;
      margin-bottom: -1mm;
      text-align: center;
    }
  
  .page-header Page #[span.pageNumber] / #[span.totalPages]
  
template#page-footer
  style(type='text/css').
    .page-footer {
      font-size: 16px;
      color: green;
      font-family: Verdana;
      font-weight: bold;
      width: 1000px;
      border-top: 1px solid black;
      margin-left: 10%;
      margin-right: 10%;
      padding-top: 1mm;
      margin-bottom: -1mm;
      text-align: center;
    }
  
  .page-footer Page #[span.pageNumber] / #[span.totalPages]


style.
  @page {
    margin: 3cm 2cm 3cm 2cm;
  }
  body {
    font-family: Verdana;
    font-size: 14px;
  }
