mixin stepSVG(step, svgPath)
    //- Allows to import progressive (=animated) SVGs into slideshow.
    //- If a SVG has elements with a ``steps`` attributes, then
    //- ``+stepSVG(4, 'my.svg')`` with only display this element if 4 is
    //- included into ``steps``.
    
    -
      var text = fs.readFileSync(path.join(basedir, svgPath), 'utf8')
      var parsedHtml = cheerio.load(text)
      parsedHtml('*[steps]').each(function (i, c) {
        var steps = c.attribs.steps
        if (steps.indexOf('--') > -1) {
           var [min, max] = steps.split("--")
           min =  (min === '') ? 0 : parseInt(min)
           max =  (max === '') ? 10000 : parseInt(max)
           if ((step < min) || (step > max)) {
             c.attribs['style'] = 'display: none;'
           }
        } else if (c.attribs.steps.split(',').indexOf(step.toString()) === -1) {
          c.attribs['style'] = 'display: none;'
        }
      })
    div(width="100%")!= parsedHtml.html()

mixin cite(key, page='')
    span(data-key=key, data-page=page).citation

mixin bibliography(style='citation-apa')
    h1 Bibliography
    div(data-style=style)#bibliography
